<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>uliheckmann CMS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/cms/styles/normalize.css">
        <link rel="stylesheet" href="/cms/styles/main.css">
        <link rel="stylesheet" href="http://bgrins.github.io/spectrum/spectrum.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


        <div class='application'>
          <div class='sidebar'>
            <h3>uliheckmann.com</h3>

            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <h3>Portfolio</h3>
                <ul>
                  <li>
                    <a href="#/section/portfolio_cars">Cars</a>
                  </li>
                  <li>
                    <a href="#/section/portfolio_people">People</a>
                  </li>
                  <li>
                    <a href="#/section/portfolio_moods">Moods</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>Archive</h3>
                <ul>
                  <li>
                    <a href="#/section/archive_cars">Cars</a>
                  </li>
                  <li>
                    <a href="#/section/archive_people">People</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#/section/contact">Contact</a>
              </li>
              <li>
                <a href="#/section/clients">Clients</a>
              </li>
            </ul>
          </div><!--
       --><div class='main-container js-main-region'>

          </div>
        </div>

        {{{{raw}}}}
          <template class='js-home-template'>
            <div class='page'>
              <div class='page__header'>
                <h1>Home</h1>
              </div>

              <section class='page__section'>
                <h2>Hover Image</h2>
                <div>
                  <label for='hover-image-file'>
                    <img class='section-page__hover-image js-hover-image' src='{{settings.hover_image}}' />
                  </label>
                </div>
                <div>
                  <fieldset>
                    <h3>Upload a new image</h3>
                    <input type='file' name='hover_file' class='js-hover-image-file' id='hover-image-file'/>
                  </fieldset>
              </section>

              <section>
                <fieldset>
                  <label>Background Color</label>
                  <input type="color" name="favcolor" class='js-bgcolor-input' value="{{settings.background_color}}">
                </fieldset>
                  <fieldset>
                    <label>Backgound Music</label>
                    <audio class='js-background-music' controls src="{{settings.background_music}}">
                      Your browser does not support the audio element.
                    </audio>

                    <input type='file' name='music_file' class='js-music-file'/>
                  </fieldset>
                  <button class='js-home-submit-button button'>Submit Settings</button>
              </section>
            </div>
          </template>

          <template class='js-section-template'>
            <section class='page'>
              <div class='page__header'>
                <h1>
                  {{parent}} {{title}}
                </h1>
                <p>Section currently <span class='js-section-status'>{{#if enabled}}enabled{{else}}disabled{{/if}}</span>. <button class='link js-section-status-toggle'>{{#if enabled}}Disable it.{{else}}Enable it.{{/if}}</button></p>
              </div>

              <section class='page__section'>
                <h2>Hover Image</h2>
                <div>
                  <label class='section-page__hover-label' for='hover-image-file'>
                    <img class='section-page__hover-image js-hover-image' src='{{hover_image}}' />
                    <img class='section-page__hover-loader js-hover-loader' style='display: none;' src='/images/cms/spinner.gif'/>
                  </label>
                </div>
                <div>
                  <form class='js-hover-image-form' action='/cms/api/section/{{_id}}' method='POST'>
                    <fieldset>
                      <h3>Upload a new image</h3>
                      <input type='file' name='hover_file' class='js-hover-image-file' id='hover-image-file'/>
                    </fieldset>
                    <button class='js-hover-image-submit-button button'>Submit</button>
                  </form>
              </section>

              {{#if parent}}
              <section class='page__section'>
                <h2>Gallery</h2>

                <ul class='gallery' id='gallery'>
                  {{#each images}}
                  <li data-id='{{_id}}' data-position={{position}}>
                    <div class='gallery__image-div' style='background-image: url("{{path}}")'>
                    </div>

                    <i class='gallery__image-remove js-gallery-image-remove'></i>
                    <div class='gallery__background'>
                      {{#if fill}}
                        <input type='checkbox' class='js-gallery-image-background' id='gallery_background_{{@index}}' checked/>
                      {{else}}
                        <input type='checkbox' class='js-gallery-image-background' id='gallery_background_{{@index}}' />
                      {{/if}}
                      <label for='gallery_background_{{@index}}'></label>
                    </div>
                    <div class='gallery__align'>
                      <span class='gallery__align-left'>
                        {{#if_eq align 'left'}}
                        <input type='radio' class='js-gallery-image-align' value='left' name='gallery_align_{{@index}}' id='gallery_align_left_{{@index}}' checked/>
                        {{else}}
                        <input type='radio' class='js-gallery-image-align' value='left' name='gallery_align_{{@index}}' id='gallery_align_left_{{@index}}' />
                        {{/if_eq}}
                        <label for='gallery_align_left_{{@index}}'>
                          <svg version="1.1" id="Triangle_left" x="0px"
                             y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                          <path d="M14,5v10l-9-5L14,5z"/>
                          </svg>
                        </label>
                      </span>
                      <span class='gallery__align-right'>
                        {{#if_eq align 'right'}}
                          <input type='radio' class='js-gallery-image-align' value='right'name='gallery_align_{{@index}}' id='gallery_align_right_{{@index}}' checked/>
                        {{else}}
                          <input type='radio' class='js-gallery-image-align' value='right'name='gallery_align_{{@index}}' id='gallery_align_right_{{@index}}'/>
                        {{/if_eq}}
                        <label for='gallery_align_right_{{@index}}'>
                          <svg version="1.1" id="Triangle_right" x="0px"
                             y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                          <path d="M15,10l-9,5V5L15,10z"/>
                          </svg>
                        </label>
                      </span>
                    </div>
                  </li>
                  {{/each}}
                </ul>
                <div class='js-gallery-no-image-item gallery__empty-item'>
                  <input type='file' class='js-gallery-new-image gallery__image-input' id='gallery-new-image'/>
                  <label for='gallery-new-image'>Add Image</label>
                </div>
                <!-- <input type='file' class='js-gallery-new-image' id='gallery-new-image'/>
                <label for='gallery-new-image' class='button'>Add Image</label> -->
              </section>
              {{/if}}
            </section>
          </template>

          <template class='js-gallery-image-template'>
            <li data-id='{{_id}}' data-position={{position}}>
              <div class='gallery__image-div' style='background-image: url("{{path}}")'>
              </div>

              <i class='gallery__image-remove js-gallery-image-remove'></i>
              <div class='gallery__background'>
                {{#if fill}}
                  <input type='checkbox' class='js-gallery-image-background' id='gallery_background_{{@index}}' checked/>
                {{else}}
                  <input type='checkbox' class='js-gallery-image-background' id='gallery_background_{{@index}}' />
                {{/if}}
                <label for='gallery_background_{{@index}}'></label>
              </div>
              <div class='gallery__align'>
                <span class='gallery__align-left'>
                  {{#if_eq align 'left'}}
                  <input type='radio' class='js-gallery-image-align' value='left' name='gallery_align_{{@index}}' id='gallery_align_left_{{@index}}' checked/>
                  {{else}}
                  <input type='radio' class='js-gallery-image-align' value='left' name='gallery_align_{{@index}}' id='gallery_align_left_{{@index}}' />
                  {{/if_eq}}
                  <label for='gallery_align_left_{{@index}}'>
                    <svg version="1.1" id="Triangle_left" x="0px"
                       y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                    <path d="M14,5v10l-9-5L14,5z"/>
                    </svg>
                  </label>
                </span>
                <span class='gallery__align-right'>
                  {{#if_eq align 'right'}}
                    <input type='radio' class='js-gallery-image-align' value='right'name='gallery_align_{{@index}}' id='gallery_align_right_{{@index}}' checked/>
                  {{else}}
                    <input type='radio' class='js-gallery-image-align' value='right'name='gallery_align_{{@index}}' id='gallery_align_right_{{@index}}'/>
                  {{/if_eq}}
                  <label for='gallery_align_right_{{@index}}'>
                    <svg version="1.1" id="Triangle_right" x="0px"
                       y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                    <path d="M15,10l-9,5V5L15,10z"/>
                    </svg>
                  </label>
                </span>
              </div>
            </li>
          </template>
          {{{{/raw}}}}


        <script>

          window.App = {};
          window.App.settings = {{{json_stringify settings}}};
        </script>

        <script src="/jquery/dist/jquery.js"></script>
        <script src="/handlebars/handlebars.js"></script>
        <script src="/handlebars/handlebars.js"></script>
        <script src="http://bgrins.github.io/spectrum/spectrum.js"></script>
        <script src="/Sortable/Sortable.min.js"></script>
        <script src="/cms/scripts/vendor/underscore.js"></script>
        <script src="/cms/scripts/vendor/backbone.js"></script>
        <script src="/cms/scripts/vendor/backbone.js"></script>
        <script src="/cms/scripts/client.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
